<h1 class="text-3xl">listado de pockemons</h1>
<h2 class="text-xl">pagina actual</h2>
<hr class="my-2" />


@if(pockemon()){
<app-pockemons-list [pockemons]="pockemon()"></app-pockemons-list>
}@else {
<app-pockemons-list-skeleton></app-pockemons-list-skeleton>
}






<div class="flex justify-between">
  <button  (click)="loadPage(-1)" class="mt-2">Anteriores</button>

  <button  (click)="loadPage(+1)" class="mt-2">Siguientes</button>

  <!-- <button (click)="currentName.set('Otro Nombre')" class="mt-2">
    {{ currentName() }}
  </button> -->
</div>